# Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=root
DB_PASS=rootpass

# Razorpay Credentials (Get these from https://dashboard.razorpay.com/)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# Application Environment
APP_ENV=development
APP_URL=http://localhost:8000
